# Projeto 2 - CDados

### Autores: Diego Guimarães Nuñez, Felipe Bakowski Nantes de Souza, Gustavo de Lima Mota

### Tema: Conseguimos prever o número de homicídios da cidade de São Paulo por ano?

### Features: PIB de São Paulo, Índice do Custo de Vida (ICV), Escolaridade, Tráfico de Drogas e Desemprego.

In [ ]:
import basedosdados as bd

In [4]:
# Para carregar o dado direto no pandas
desemprego = bd.read_table(dataset_id='br_me_caged',
table_id='dicionario',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 5324/5324 [00:00<00:00, 6188.64rows/s]

In [5]:
desemprego

,id_tabela,coluna,chave,cobertura_temporal,valor
0,microdados_estabelecimentos,fonte_desligamento,1,2020(1)2021,Dado Original/Sem Imputação
1,microdados_estabelecimentos,fonte_desligamento,2,2020(1)2021,Desligamentos Imputados Do CAGED
2,microdados_estabelecimentos,fonte_desligamento,3,2020(1)2021,Desligamentos Imputados Do Empregadorweb
3,microdados_estabelecimentos,tipo_empregador,0,2020(1)2021,CNPJ Raiz
4,microdados_estabelecimentos,tipo_empregador,2,2020(1)2021,CPF
...,...,...,...,...,...
5319,microdados_antigos_ajustes,regiao_corede,18,2007(1)2019,Sul
5320,microdados_antigos_ajustes,regiao_corede,19,2007(1)2019,Vale Do Cai
5321,microdados_antigos_ajustes,regiao_corede,20,2007(1)2019,Vl Rio Pardo
5322,microdados_antigos_ajustes,regiao_corede,21,2007(1)2019,Vl Rio Sinos
5323,microdados_antigos_ajustes,regiao_corede,22,2007(1)2019,Vl Taquari

In [6]:
inep = bd.read_table(dataset_id='br_inep_saeb',
table_id='municipio',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 1726300/1726300 [06:42<00:00, 4291.16rows/s]

In [7]:
inep # escolaridade por níveis (feature)

,ano,rede,localizacao,sigla_uf,id_municipio,disciplina,serie,media,nivel_0,nivel_1,nivel_2,nivel_3,nivel_4,nivel_5,nivel_6,nivel_7,nivel_8,nivel_9,nivel_10
0,2011,Total - Estadual e Municipal,Rural,MA,2102507,MT,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,"Total - Federal, Estadual e Municipal",Rural,MS,5003504,LP,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,Total - Estadual e Municipal,Urbana,PA,1504109,MT,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,Privada,Total,SP,3556800,MT,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,"Total - Federal, Estadual, Municipal e Privada",Rural,BA,2901205,MT,9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726295,2021,Total - Estadual e Municipal,Total,AP,1600550,MT,5,167.55,13.74,19.82,26.96,20.86,10.97,5.34,2.30,0.00,0.0,0.00,0.00
1726296,2021,"Total - Federal, Estadual e Municipal",Total,SE,2805307,MT,9,230.15,20.88,22.39,27.96,15.46,11.67,0.79,0.85,0.00,0.0,0.00,NaN
1726297,2021,Municipal,Total,PA,1500958,MT,5,176.34,5.18,20.34,27.96,23.64,12.94,6.72,1.34,1.56,0.0,0.32,0.00
1726298,2021,Total - Estadual e Municipal,Total,PI,2202251,LP,5,162.14,13.00,29.72,31.96,10.75,6.13,4.22,0.00,4.22,0.0,0.00,NaN
1726299,2021,Total - Estadual e Municipal,Total,CE,2311405,MT,5,280.26,0.00,0.84,1.81,3.65,6.54,10.16,19.25,18.82,21.5,16.68,0.74

In [8]:
pib = bd.read_table(dataset_id='br_ibge_pib',
table_id='municipio',
billing_project_id="cdadosp2-404421")

Downloading:  40%|███▉      | 685952/1726300 [27:36<41:52, 414.13rows/s]
Downloading: 100%|██████████| 105830/105830 [00:20<00:00, 5152.27rows/s]

In [9]:
pib

,id_municipio,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,1100015,2002,111291000,7549000,103742000,27013000,9377000,24651000,42701000
1,1100023,2002,449593000,42666000,406927000,28590000,99923000,161852000,116562000
2,1100031,2002,31768000,1868000,29900000,10884000,1962000,5129000,11925000
3,1100049,2002,474443000,49623000,424820000,32810000,98293000,175749000,117968000
4,1100056,2002,79174000,8201000,70973000,11284000,6651000,25306000,27731000
...,...,...,...,...,...,...,...,...,...
105825,5222005,2020,587313000,50678000,536634000,237994000,31362000,198625000,68654000
105826,5222054,2020,418557000,33375000,385182000,158818000,75909000,102478000,47977000
105827,5222203,2020,121887000,7569000,114318000,28358000,22837000,29547000,33577000
105828,5222302,2020,218473000,8738000,209736000,115114000,26940000,34812000,32870000
105829,5300108,2020,265847334000,25466228000,240381106000,1623977000,10942473000,116547655000,111267001000

In [26]:
pib[104089:104093] # pib de são paulo

,id_municipio,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
104089,3550308,2020,748759007000,124349146000,624409861000,61896000,58077784000,520357969000,45912212000
104090,3550407,2020,817487000,64506000,752981000,56762000,60600000,478812000,156807000
104091,3550506,2020,235066000,12013000,223053000,95993000,23761000,62136000,41164000
104092,3550605,2020,3108224000,370465000,2737759000,47545000,556806000,1754878000,378530000

In [10]:
icv = bd.read_table(dataset_id='br_sp_saopaulo_dieese_icv',
table_id='ano',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 58/58 [00:00<00:00, 192.85rows/s]

In [16]:
icv # traz informações sobre feature de variação anual do índice de custo de vida.

     ano  variacao_anual
0   1960       33.013597
1   1961       42.004960
2   1962       62.652008
3   1963       90.247638
4   1964       73.131252
5   1965       53.873224
6   1966       52.404392
7   1967       25.773380
8   1968       26.061802
9   1969       22.249454
10  1970       16.636745
11  1971       25.151104
12  1972       22.620812
13  1973       26.530383
14  1974       35.284430
15  1975       28.621509
16  1976       44.336908
17  1977       39.477675
18  1978       40.157792
19  1979       71.241069
20  1980       93.511997
21  1981       87.881216
22  1982      102.915502
23  1983      172.592203
24  1984      204.700193
25  1985      264.571612
26  1986       96.740973
27  1987      398.288599
28  1988      921.236913
29  1989     1946.202627
30  1990     1849.682073
31  1991      500.385104
32  1992     1127.517278
33  1993     2579.325316
34  1994      911.127982
35  1995       27.428562
36  1996        9.934894
37  1997        6.111951
38  1998        0.491248
39  1999        9.571297
40  2000        7.207687
41  2001        9.423081
42  2002       12.931160
43  2003        9.555091
44  2004        7.696232
45  2005        4.534522
46  2006        2.569585
47  2007        4.798909
48  2008        6.108181
49  2009        4.047300
50  2010        6.912591
51  2011        6.086387
52  2012        6.409327
53  2013        6.042285
54  2014        6.732644
55  2015       11.461073
56  2016        6.153847
57  2017        4.406750

In [12]:
homicidio = bd.read_table(dataset_id='br_sp_gov_ssp',
table_id='ocorrencias_registradas',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 153876/153876 [00:30<00:00, 4979.16rows/s]

In [13]:
homicidio

,ano,mes,id_municipio,regiao_ssp,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
0,2002,1,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,21,0
1,2002,2,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,32,0
2,2002,3,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,36,0
3,2002,4,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,1,<NA>,0,0,0,45,0
4,2002,5,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,1,<NA>,0,0,0,35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153871,2017,8,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3,0
153872,2017,9,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1
153873,2017,10,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5,0
153874,2017,11,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,2,0
153875,2017,12,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,4,1

In [15]:
homicidio[1000:1010] # coluna homicidio_doloso traz informações do target

,ano,mes,id_municipio,regiao_ssp,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
1000,2002,5,3552403,Piracicaba,10,10,0,0,4,0,...,1,<NA>,<NA>,102,<NA>,37,0,1,112,36
1001,2002,6,3552403,Piracicaba,9,10,0,0,2,0,...,3,<NA>,<NA>,74,<NA>,32,0,1,93,27
1002,2002,7,3552403,Piracicaba,8,9,0,0,0,1,...,1,<NA>,<NA>,102,<NA>,39,0,1,124,41
1003,2002,8,3552403,Piracicaba,10,12,0,0,1,0,...,2,<NA>,<NA>,76,<NA>,45,0,1,150,35
1004,2002,9,3552403,Piracicaba,6,6,0,0,1,0,...,0,<NA>,<NA>,105,<NA>,24,0,2,150,32
1005,2002,10,3552403,Piracicaba,11,14,0,0,0,0,...,0,<NA>,<NA>,110,<NA>,62,0,2,144,32
1006,2002,11,3552403,Piracicaba,5,5,0,0,1,0,...,1,<NA>,<NA>,84,<NA>,52,0,1,147,28
1007,2002,12,3552403,Piracicaba,10,10,0,0,3,0,...,0,<NA>,<NA>,95,<NA>,53,0,2,162,33
1008,2002,1,3552304,Araçatuba,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,9,0
1009,2002,2,3552304,Araçatuba,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,6,0