# Projeto 2 - CDados

### Autores: Diego Guimarães Nuñez, Felipe Bakowski Nantes de Souza, Gustavo de Lima Mota

### Tema: Conseguimos prever o número de homicídios da cidade de São Paulo por ano?

### Features: PIB de São Paulo, Índice do Custo de Vida (ICV), Escolaridade, Tráfico de Drogas e Desemprego.

In [4]:
import basedosdados as bd
import pandas as pd

### Baixando as bases de dados utilizadas no projeto:

In [5]:
# Baixando dados desemprego
desemprego = pd.read_excel("20231108182418.xlsx")

In [6]:
desemprego 
# base de dados de desemprego
# nesse df observa-se a taxa de desocupação (%) da população brasileira ao longo dos anos (2012-2022)

,Taxa de desocupação,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 131,Unnamed: 132,Unnamed: 133,Unnamed: 134,Unnamed: 135,Unnamed: 136,Unnamed: 137,Unnamed: 138,Unnamed: 139,Unnamed: 140
0,NaN,p,jan-fev-mar 2012,fev-mar-abr 2012,mar-abr-mai 2012,abr-mai-jun 2012,mai-jun-jul 2012,jun-jul-ago 2012,jul-ago-set 2012,ago-set-out 2012,...,out-nov-dez 2022,nov-dez-jan 2023,dez-jan-fev 2023,jan-fev-mar 2023,fev-mar-abr 2023,mar-abr-mai 2023,abr-mai-jun 2023,mai-jun-jul 2023,jun-jul-ago 2023,jul-ago-set 2023
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Brasil,NaN,"8,0","7,8","7,7","7,6","7,5","7,4","7,1","7,0",...,"7,9","8,4","8,6","8,8","8,5","8,3","8,0","7,9","7,8","7,7"
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,"Fonte: ""IBGE - Pesquisa Nacional por Amostra d...",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
inep = bd.read_table(dataset_id='br_inep_saeb',
table_id='municipio',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 1726300/1726300 [06:12<00:00, 4631.53rows/s]

In [31]:
inep # base de dados de níveis de escolaridade

,ano,rede,localizacao,sigla_uf,id_municipio,disciplina,serie,media,nivel_0,nivel_1,nivel_2,nivel_3,nivel_4,nivel_5,nivel_6,nivel_7,nivel_8,nivel_9,nivel_10
0,2011,"Total - Federal, Estadual e Municipal",Urbana,MA,2109403,LP,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2011,"Total - Federal, Estadual, Municipal e Privada",Total,RS,4316972,MT,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2011,"Total - Federal, Estadual, Municipal e Privada",Rural,MT,5101852,LP,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2011,"Total - Federal, Estadual, Municipal e Privada",Rural,RS,4302055,LP,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2011,"Total - Federal, Estadual e Municipal",Rural,PA,1501303,MT,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1726295,2021,Total - Estadual e Municipal,Total,SP,3528908,MT,3,229.86,49.04,7.69,25.96,8.65,8.65,0.00,0.00,0.0,0.0,0.0,0.0
1726296,2021,Estadual,Urbana,GO,5205521,MT,9,257.39,11.48,4.78,26.96,22.02,18.67,12.74,3.35,0.0,0.0,0.0,NaN
1726297,2021,"Total - Federal, Estadual e Municipal",Urbana,GO,5205521,MT,9,257.39,11.48,4.78,26.96,22.02,18.67,12.74,3.35,0.0,0.0,0.0,NaN
1726298,2021,"Total - Federal, Estadual e Municipal",Total,PR,4113429,MT,3,255.11,26.58,14.86,29.96,10.36,4.95,7.43,5.86,0.0,0.0,0.0,0.0
1726299,2021,"Total - Federal, Estadual, Municipal e Privada",Rural,MA,2110278,MT,5,161.89,2.59,35.86,30.96,21.10,8.18,1.31,0.00,0.0,0.0,0.0,0.0

In [7]:
pib = bd.read_table(dataset_id='br_ibge_pib',
table_id='municipio',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 105830/105830 [00:17<00:00, 6202.88rows/s]

In [40]:
pib # base de dados dos pib´s por município do Brasil por ano

,id_municipio,ano,pib,impostos_liquidos,va,va_agropecuaria,va_industria,va_servicos,va_adespss
0,1100015,2002,111291000,7549000,103742000,27013000,9377000,24651000,42701000
1,1100023,2002,449593000,42666000,406927000,28590000,99923000,161852000,116562000
2,1100031,2002,31768000,1868000,29900000,10884000,1962000,5129000,11925000
3,1100049,2002,474443000,49623000,424820000,32810000,98293000,175749000,117968000
4,1100056,2002,79174000,8201000,70973000,11284000,6651000,25306000,27731000
...,...,...,...,...,...,...,...,...,...
105825,5222005,2020,587313000,50678000,536634000,237994000,31362000,198625000,68654000
105826,5222054,2020,418557000,33375000,385182000,158818000,75909000,102478000,47977000
105827,5222203,2020,121887000,7569000,114318000,28358000,22837000,29547000,33577000
105828,5222302,2020,218473000,8738000,209736000,115114000,26940000,34812000,32870000
105829,5300108,2020,265847334000,25466228000,240381106000,1623977000,10942473000,116547655000,111267001000

In [10]:
icv = bd.read_table(dataset_id='br_sp_saopaulo_dieese_icv',
table_id='ano',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 58/58 [00:00<00:00, 150.12rows/s]

In [41]:
icv # base de dados sobre a feature de variação anual do índice de custo de vida.

     ano  variacao_anual
0   1960       33.013597
1   1961       42.004960
2   1962       62.652008
3   1963       90.247638
4   1964       73.131252
5   1965       53.873224
6   1966       52.404392
7   1967       25.773380
8   1968       26.061802
9   1969       22.249454
10  1970       16.636745
11  1971       25.151104
12  1972       22.620812
13  1973       26.530383
14  1974       35.284430
15  1975       28.621509
16  1976       44.336908
17  1977       39.477675
18  1978       40.157792
19  1979       71.241069
20  1980       93.511997
21  1981       87.881216
22  1982      102.915502
23  1983      172.592203
24  1984      204.700193
25  1985      264.571612
26  1986       96.740973
27  1987      398.288599
28  1988      921.236913
29  1989     1946.202627
30  1990     1849.682073
31  1991      500.385104
32  1992     1127.517278
33  1993     2579.325316
34  1994      911.127982
35  1995       27.428562
36  1996        9.934894
37  1997        6.111951
38  1998        0.491248
39  1999        9.571297
40  2000        7.207687
41  2001        9.423081
42  2002       12.931160
43  2003        9.555091
44  2004        7.696232
45  2005        4.534522
46  2006        2.569585
47  2007        4.798909
48  2008        6.108181
49  2009        4.047300
50  2010        6.912591
51  2011        6.086387
52  2012        6.409327
53  2013        6.042285
54  2014        6.732644
55  2015       11.461073
56  2016        6.153847
57  2017        4.406750

In [7]:
homicidio = bd.read_table(dataset_id='br_sp_gov_ssp',
table_id='ocorrencias_registradas',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 153876/153876 [00:35<00:00, 4321.01rows/s]

In [8]:
homicidio

,ano,mes,id_municipio,regiao_ssp,homicidio_doloso,numero_de_vitimas_em_homicidio_doloso,homicidio_doloso_por_acidente_de_transito,numero_de_vitimas_em_homicidio_doloso_por_acidente_de_transito,homicidio_culposo_por_acidente_de_transito,homicidio_culposo_outros,...,total_de_estupro,estupro,estupro_de_vulneravel,total_de_roubo_outros,roubo_outros,roubo_de_veiculo,roubo_a_banco,roubo_de_carga,furto_outros,furto_de_veiculo
0,2002,1,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,21,0
1,2002,2,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,32,0
2,2002,3,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,36,0
3,2002,4,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,1,<NA>,0,0,0,45,0
4,2002,5,3500105,Presidente Prudente,0,0,0,0,0,0,...,0,<NA>,<NA>,1,<NA>,0,0,0,35,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
153871,2014,8,3500204,São José do Rio Preto,0,0,0,0,0,0,...,1,<NA>,<NA>,0,<NA>,0,0,0,3,0
153872,2014,9,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,0,0
153873,2014,10,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,3,0
153874,2014,11,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,4,1
153875,2014,12,3500204,São José do Rio Preto,0,0,0,0,0,0,...,0,<NA>,<NA>,0,<NA>,0,0,0,3,0

In [ ]:
ivs = bd.read_table(dataset_id='br_ipea_avs',
table_id='municipio',
billing_project_id="cdadosp2-404421")

In [ ]:
ivs # colunas que serão usadas para feature: "ivs", "ivs_infraestrutura_urbana", "ivs_capital_humano" e "ivs_renda_trabalho"
# índice de vulnerabilidade social.

## Para esse projeto decidimos fazer uma modelagem do número de homicidios em SP e tentar prever como esse evento atua em função de 5 features distintas. As quais são : Desemprego, nível de escolaridade, PIB, custo de vida (ICV) e o índice de vulnerabilidade social (IVC)

### A meta é conseguir criar um modelo satisfatório para e validá-lo com dados reais, a fim de, termos uma ideia melhor de como a criminalidade cresce no Brasil e tomarmos medidas para nos proteger

#### Primeiramente, vamos tratar a base de dados de homicidios e deixá-la mais visualizável

In [9]:
homicidio_colunas = homicidio.loc[:,('ano', 'mes', 'regiao_ssp', 'homicidio_doloso', 'homicidio_culposo_outros')] #selecionando colunas
homicidio['Homicidio_total'] = homicidio.loc[:, ['homicidio_doloso', 'homicidio_culposo_outros']].sum(axis=1) #homicidio total
homicidio_filtrado = homicidio.loc[:,('ano', 'mes', 'regiao_ssp', 'Homicidio_total')] #selecionando colunas

In [10]:
homicidio_filtrado

         ano  mes             regiao_ssp  Homicidio_total
0       2002    1    Presidente Prudente              0.0
1       2002    2    Presidente Prudente              0.0
2       2002    3    Presidente Prudente              0.0
3       2002    4    Presidente Prudente              0.0
4       2002    5    Presidente Prudente              0.0
...      ...  ...                    ...              ...
153871  2014    8  São José do Rio Preto              0.0
153872  2014    9  São José do Rio Preto              0.0
153873  2014   10  São José do Rio Preto              0.0
153874  2014   11  São José do Rio Preto              0.0
153875  2014   12  São José do Rio Preto              0.0

[153876 rows x 4 columns]

### Agora, devemos tratar a base de dados Desemprego e analisar sua correlação com a target

In [11]:
datas = desemprego.iloc[0] #meses/ano
valores = desemprego.iloc[2] #valores limpan

In [12]:
dados = {}
for mes in range(len(datas)):
    if mes > 1:
        dados[datas[mes]] = valores[mes]
desemprego_tratado = (pd.DataFrame(dados, index=['%']))

In [13]:
desemprego_tratado

,jan-fev-mar 2012,fev-mar-abr 2012,mar-abr-mai 2012,abr-mai-jun 2012,mai-jun-jul 2012,jun-jul-ago 2012,jul-ago-set 2012,ago-set-out 2012,set-out-nov 2012,out-nov-dez 2012,...,out-nov-dez 2022,nov-dez-jan 2023,dez-jan-fev 2023,jan-fev-mar 2023,fev-mar-abr 2023,mar-abr-mai 2023,abr-mai-jun 2023,mai-jun-jul 2023,jun-jul-ago 2023,jul-ago-set 2023
%,"8,0","7,8","7,7","7,6","7,5","7,4","7,1","7,0","6,8","6,9",...,"7,9","8,4","8,6","8,8","8,5","8,3","8,0","7,9","7,8","7,7"

### Agora que a base demprego está tratada, encontramos o problema de que a % de desemprego, na linha, é referente aos 3 meses analisados na coluna. Então, precisamos fazer a análise com respeito ao período estabelecido

### Vale notar:

### Iremos analisar dos anos 2012 até 2014

In [14]:
homicidio_2012 = homicidio_filtrado.loc[homicidio['ano'].isin([2012,2013,2014])]
homicidio_2012

         ano  mes             regiao_ssp  Homicidio_total
46200   2013    1    Presidente Prudente              0.0
46201   2013    2    Presidente Prudente              0.0
46202   2013    3    Presidente Prudente              0.0
46203   2013    4    Presidente Prudente              0.0
46204   2013    5    Presidente Prudente              0.0
...      ...  ...                    ...              ...
153871  2014    8  São José do Rio Preto              0.0
153872  2014    9  São José do Rio Preto              0.0
153873  2014   10  São José do Rio Preto              0.0
153874  2014   11  São José do Rio Preto              0.0
153875  2014   12  São José do Rio Preto              0.0

[23028 rows x 4 columns]

## Agora necessitamos filtrar a base desemprego para ter apenas os anos de interseção com a base homicídio

In [15]:
dados = {}
for k,v in desemprego_tratado.items():
    if '2012' in k or '2013' in k or '2014' in k:
        dados[k] = v
desemprego_2012 = pd.DataFrame(dados, index=['%'])
desemprego_2012

,jan-fev-mar 2012,fev-mar-abr 2012,mar-abr-mai 2012,abr-mai-jun 2012,mai-jun-jul 2012,jun-jul-ago 2012,jul-ago-set 2012,ago-set-out 2012,set-out-nov 2012,out-nov-dez 2012,...,jan-fev-mar 2014,fev-mar-abr 2014,mar-abr-mai 2014,abr-mai-jun 2014,mai-jun-jul 2014,jun-jul-ago 2014,jul-ago-set 2014,ago-set-out 2014,set-out-nov 2014,out-nov-dez 2014
%,"8,0","7,8","7,7","7,6","7,5","7,4","7,1","7,0","6,8","6,9",...,"7,2","7,2","7,1","6,9","7,0","7,0","6,9","6,7","6,6","6,6"

## Então, criaremos um df com as features e target como colunas e as datas como indices de linhas, para que, consigamos realizar uma análise quantitativa

In [122]:
df = desemprego_2012.transpose().reset_index()
for header,columns in df.items():
    if header == 'index':
        j = 0
        for i in columns:
            mes = i[:3]
            ano = i[-4:]
            if mes == 'jan':
                mes = 1
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'fev':
                mes = 2
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'mar':
                mes = 3
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'abr':
                mes = 4
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'mai':
                mes = 5
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'jun':
                mes = 6
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'jul':
                mes = 7
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'ago':
                mes = 8
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'set':
                mes = 9
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'out':
                mes = 10
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'nov':
                mes = 11
                df['index'].iloc[j] = f'{mes}-{ano}'
            elif mes == 'dez':
                mes = 12
                df['index'].iloc[j] = f'{mes}-{ano}'
            j += 1

In [123]:
df

      index    %
0    1-2012  8,0
1    2-2012  7,8
2    3-2012  7,7
3    4-2012  7,6
4    5-2012  7,5
5    6-2012  7,4
6    7-2012  7,1
7    8-2012  7,0
8    9-2012  6,8
9   10-2012  6,9
10  11-2013  7,3
11  12-2013  7,8
12   1-2013  8,1
13   2-2013  7,9
14   3-2013  7,7
15   4-2013  7,5
16   5-2013  7,4
17   6-2013  7,2
18   7-2013  7,0
19   8-2013  6,8
20   9-2013  6,6
21  10-2013  6,3
22  11-2014  6,5
23  12-2014  6,8
24   1-2014  7,2
25   2-2014  7,2
26   3-2014  7,1
27   4-2014  6,9
28   5-2014  7,0
29   6-2014  7,0
30   7-2014  6,9
31   8-2014  6,7
32   9-2014  6,6
33  10-2014  6,6