# Projeto 2 - CDados

### Autores: Diego Guimarães Nuñez, Felipe Bakowski Nantes de Souza, Gustavo de Lima Mota

### Tema: Conseguimos prever o número de homicídios da cidade de São Paulo por ano?

In [1]:
import basedoasdados as bd

# Para carregar o dado direto no pandas
pnadc = bd.read_table(dataset_id='br_ibge_pnadc',
table_id='dicionario',
billing_project_id="cdadosp2-404421")

Downloading: 100%|██████████| 913/913 [00:01<00:00, 602.09rows/s]

In [2]:
pnadc

,id_tabela,nome_coluna,chave,cobertura_temporal,valor
0,microdados,V3007,None,(1),Não aplicável
1,microdados,V4033,None,(1),Não aplicável
2,microdados,VD4009,None,(1),Não aplicável
3,microdados,VD4023,None,(1),Não aplicável
4,microdados,V4074A,None,(1),Não aplicável
...,...,...,...,...,...
908,microdados,capital,52,(1),Município de Goiânia (GO)
909,rendimentos_outras_fontes,rm_ride,52,(1),Região Metropolitana de Goiânia (GO)
910,microdados,rm_ride,52,(1),Região Metropolitana de Goiânia (GO)
911,microdados,capital,53,(1),Município de Brasília (DF)
912,rendimentos_outras_fontes,capital,53,(1),Município de Brasília (DF)